<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="container">
    
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" class="object-fit-cover" alt="Logo" height="40" />
    </a>

    <div class="" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li *ngIf="_authService.hasRole(Roles.Reception)" class="nav-item">
          <a class="nav-link" routerLink="appointments" routerLinkActive="active"
            >Appointments</a
          >
        </li>
        <li *ngIf="_authService.hasRole(Roles.Physician)" class="nav-item">
          <a class="nav-link" routerLink="visits" routerLinkActive="active"
            >Visits</a
          >
        </li>
        <li *ngIf="_authService.hasRole(Roles.UserCreator)" class="nav-item">
          <a class="nav-link" routerLink="adduser" routerLinkActive="active"
            >Add User</a
          >
        </li>
        <li *ngIf="_authService.hasRole(Roles.ItemCreator)" class="nav-item">
          <a class="nav-link" routerLink="additem" routerLinkActive="active"
            >Add Item</a
          >
        </li>
        <li *ngIf="_authService.hasRole(Roles.TransactionCreator)" class="nav-item">
          <a class="nav-link" routerLink="addtransaction" routerLinkActive="active"
            >Add Transaction</a
          >
        </li>
        <li *ngIf="_authService.hasRole(Roles.InventoryManager)" class="nav-item">
          <a class="nav-link" routerLink="inventoryaccounting" routerLinkActive="active"
            >Inventory Accounting</a
          >
        </li>
      </ul>
    </div>
    <button (click)="_authService.logout()" class="btn btn-danger ml-auto">
        logout
      </button>
  </div>
</nav>
